<ion-view view-title="Busca">
    <ion-content  >
        <ion-item>
            <button class="button button-block button-dark" ng-click="result=true; scanBarcode()" >Ache o pet</button>
        </ion-item>
        <ion-item ng-show="result">
         <ion-card>
            <a class="item item-thumbnail-left" href="#">
                <img src="{{pet_busca.pet_image}}">
                <h2>{{pet_busca.pet_name}}</h2>
                <p>{{pet_busca.pet_sexo}}</p>
            </a>
        </ion-card> 
        <label class="item item-input item-stacked-label">
            <ion-label> {{pet_busca}}</ion-label>
        </label>   
        <label class="item item-input item-stacked-label">
            <ion-label>Idade</ion-label>
            <ion-label> {{pet_busca.pet_idade}}</ion-label>
        </label>
        <label class="item item-input item-stacked-label">
            <ion-label>Tipo da Idade</ion-label>
            <ion-label> {{pet_busca.pet_tipo_idade}}</ion-label>
        </label>
        <label class="item item-input item-stacked-label">
            <ion-label>Descrição</ion-label>
            <ion-label> {{pet_busca.pet_descricao}}</ion-label>
        </label>
        <label class="item item-input item-stacked-label">
            <ion-label>Porte</ion-label>
            <ion-label> {{pet_busca.pet_sexo}}</ion-label>
        </label>
        <label class="item item-input item-stacked-label">
            <ion-label>Raça</ion-label>
            <ion-label> {{pet_busca.pet_porte}}</ion-label>
        </label>
        <label class="item item-input item-stacked-label">
            <ion-label>Tipo</ion-label>
            <ion-label> {{pet_busca.pet_tipo}}</ion-label>
        </label>
        </br>
         <h3>{{pet_busca.pet_endereco}}</h3>   
        </ion-item>
         <ion-card ng-show="result">
              <div id="map" data-tap-disabled="true"></div>
        </ion-card> 
        <p>{{pet_busca}}</p>
    </ion-content>
</ion-view>
