
<ion-view view-title="Login">
  <ion-content>
   <ion-item>
            <div ng-hide="authData" class="card" ng-click="loginfb()">
                <button class="item">
                            Log In with Facebook
                </button>
            </div>
            <div class="card" ng-show="authData">
                <div class="item item-text-wrap">
                    Hello {{authData.facebook.displayName}}!
                </div>
            </div>
    </ion-item>
  </ion-content>
</ion-view>