<ion-view view-title="Registro Pet">
    <ion-content>
        <form ng-submit="submit()">
            <ion-card>
                <div class="row">
                    <div class="col">
                        <div id="qrcode"></div>
                    </div>
                    <div class=".col-50"><img src="{{dados.pet_image}}" height="100" width="100"></div>
                </div>
                <ion-item>
                    <button class="button button-block button-dark ion-camera" ng-click="uploadImage()"></button>
                </ion-item>
            </ion-card>
            <label class="item item-input item-stacked-label">
            <ion-label>Nome</ion-label>
            <input type="text" value="Toto " id="nomepet" ng-model="dados.pet_name" placeholder="nome">
         </label>

            <label class="item item-input item-select">
                <div class="input-label">Sexo</div>
                <select ng-model="dados.pet_sexo">
                    <option value="macho" selected>Macho</option>
                    <option value="femea">Fêmea</option>
                </select>
        </label>

            <label class="item item-input item-stacked-label">
            <ion-label>Idade</ion-label>
            <input type="text" value="3" ng-model="dados.pet_idade" placeholder="idade">
        </label>

            <label class="item item-input item-select">
                <ion-label>Tipo da Idade</ion-label>
                <select ng-model="dados.pet_tipo_idade">
                    <option value="dia" selected>Dia</option>
                    <option value="mes">Mês</option>
                    <option value="ano">Ano</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label">
            <ion-label>Descrição</ion-label>
            <input type="text" value="Bom" ng-model="dados.pet_descricao" placeholder="descrição" >
        </label>

            <label class="item item-input item-select">
                <ion-label>Porte</ion-label>
                <select ng-model="dados.pet_porte">
                    <option value="pequeno" selected>Pequeno</option>
                    <option value="medio">Médio</option>
                    <option value="grande">Grande</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label">
            <ion-label>Raça</ion-label>
            <input type="text" value="Vira-lata" ng-model="dados.pet_raca" placeholder="raça">
        </label>

            <label class="item item-input item-select">
                <ion-label>Tipo</ion-label>
                <select ng-model="dados.pet_tipo">
                    <option value="cachorro" selected>Cachorro</option>
                    <option value="gato">Gato</option>
                    <option value="passaro">Pássaro</option>
                    <option value="outros">Outro</option>
                </select>
            </label>

            <label class="item item-input">
                <ion-label>Endereço</ion-label>
                <input type="text" ng-model="dados.pet_endereco" placeholder="Endereço" >
            </label>
            <ion-item>
                <button type="submit" ng-click="savepet()" class="button button-block button-dark">Salvar</button>
            </ion-item>
        </form>
    </ion-content>
</ion-view>