/* Empty. Add your own CSS if you like */
.bar.bar-stable {
    background-color: #b34e4e;
    color: white;
}
.bar.bar-stable .title {
    background-color: #b34e4e;
    color: white;
}

.ion-content
{
    background-color: green;
}

wellcome{
    background-color: #b34e4e;
}

.login {
    background: url(../img/welcome.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0%;
    z-index: 2;
    position: absolute;
}